<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdULO3DEPpmTlYbBr165nl95PTHq-jV98</string>
	<key>GCM_SENDER_ID</key>
	<string>482506605190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sqlitetodo</string>
	<key>PROJECT_ID</key>
	<string>combitest-3f398</string>
	<key>STORAGE_BUCKET</key>
	<string>combitest-3f398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482506605190:ios:c31ff9bd60cddef7948707</string>
</dict>
</plist>